/* ===============================================
 *
 * CSS reset
 *
 * =============================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

body {
	margin: 0;
	line-height: 1; 
}

html, body {
	height: 100%;
	overflow: hidden;
}

a, a:visited {
	text-decoration: none; 
}

a:hover {
	text-decoration: underline; 
}

a, a:visited {
	color: #3f729b; 
}

a:hover {
	color: #1c5380; 
}

article,
header,
hgroup,
nav,
section {
	display: block; 
}

#page {
	position: relative;
	height: 400%;
	top: -100%;
}

/* ===============================================
 *
 * Standard global styles
 *
 * =============================================== */

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

body {
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	line-height: 20px;
	background: #e0e0e0 50% 0;
}

h1 {
	font-size: 36px;
	line-height: 40px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}

.page {
	position: absolute;
	left: 0;
	right: 0;
	overflow: auto;
	margin: 44px 0;
}

/* ===============================================
 *
 * Top bar
 *
 * =============================================== */

.bar {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 44px;
	background-color: #517fa4;
	background-position: 50% 50%;
	z-index: 100;

	text-shadow: 0 1px 1px #063056;
	text-transform: uppercase;

	border-bottom: 1px solid #1c5380;
	border-bottom-color: rgba(4, 40, 71, 0.8);
	-webkit-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);

	background-image: -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));
	background-image: -webkit-linear-gradient(top, #517fa4, #306088);
	background-image: -moz-linear-gradient(top, #517fa4, #306088);
	background-image: -o-linear-gradient(top, #517fa4, #306088);
	background-image: -ms-linear-gradient(top, #517fa4, #306088);
	background-image: linear-gradient(top, #517fa4, #306088);

	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#517fa4', EndColorStr='#306088');
}

#top-bar-blog {
	top: 25%;
}

#top-bar-message {
	top: 0;
}

#top-bar-about {
	top: 50%;
}

#bottom-bar-blog {
	bottom: 50%;
}

#bottom-bar-message {
	bottom: 75%;
}

#bottom-bar-about {
	bottom: 25%;
}

.bar .wrapper {
	width: auto;
	max-width: 800px;
	padding: 0 30px; 
}

.bar a, .bar a:visited, .bar a:hover {
	text-decoration: none;
}

.bar a {
	color: white;
	font-weight: bold;
}
  
.bar hgroup {
	position: relative;
	height: 45px; 
}

.bar #header-logo {
	/*height: 35px;
	background: url(../../images/shared/shared-assets.png) no-repeat 0 4px;
	width: 97px;*/
	position: absolute;
	top: 5px;
	/*text-indent: -9999em;*/
	z-index: 25; 
}

.bar #header-logo a {
	display: block;
	height: 100%;
	width: 100%; 
}

.bar h2 {
	position: absolute;
	top: 7px;
	left: 120px;
	margin: 0; 
}

/* ===============================================
 *
 * Top navigation
 *
 * =============================================== */
  
.nav {
	margin: 0;
	position: relative;
	text-align: center; 
}

.top-nav {
	padding: 10px 0;
	top: 2px;
	margin-top: -45px;
}

.bottom-nav {
	padding: 11px 0;
	bottom: 0;
}

.nav ul li {
	list-style: none;
	display: none;
}

#bottom-bar-message .navpage-message,
#top-nav-blog .navpage-blog,
#bottom-bar-blog .navpage-blog,
#top-bar-about .navpage-about {
	display: inline-block;
}

/* ===============================================
 *
 * Blog page
 *
 * =============================================== */

 #blog {
 	top: 25%;
 	bottom: 50%;
 }

 /* ===============================================
 *
 * Message page
 *
 * =============================================== */

 #message {
 	top: 0;
 	bottom: 75%;
 }

 /* ===============================================
 *
 * Page header
 *
 * =============================================== */

.page-header {
	color: #666;
	line-height: 30px;
	font-size: 18px;
	font-size: 1.8rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 0 30px;
}

.page-header p {
	padding: 50px 0 50px 85px;
	text-align: justify;
	position: relative;
	max-width: 720px;
	margin: 0 auto;
}

 /* ===============================================
 *
 * Blog entries
 *
 * =============================================== */

.article-body p,
.article-body h1, .article-body h2, .article-body h3, .article-body h4, .article-body h5,
.article-body ul,
.article-body ol {
	max-width: 800px;
	padding: 0 60px;
	margin: 0 auto 20px; 
}

.article-body pre {
	max-width: 760px;
	padding: 20px;
	margin: 0 auto 20px;
	background: #fff; 
}

.article-body h2 {
  	margin-bottom: 10px; 
}

.article-body ul li {
	list-style: disc;
	margin-left: 1.5em; 
}

.article-body p.intro {
	float: right;
	display: inline;
	width: 38.2%;
	padding-top: 10px;
	text-align: left;
	padding: 15px 1.5em;
	background: #e0e0e0 url(../../images/blog/noise-gray.png) center;
	margin: 0 3em 20px;
	border-bottom: 1px solid #ccc; 
}

.article-body {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 30px; 
}

.article-body p.intro {
	color: #666; 
}

.article-body p,
.article-body ul,
.article-body ol,
.article-body h2 {
	text-align: justify; 
}

.article-body h2 {
	margin: 0 0 10px; 
}

.article-body pre {
	font-size: 12px;
	line-height: 20px; 
}

article h1 {
	position: relative;
	left: -2px; 
}

article header {
	position: relative;
	max-width: 800px;
	min-height: 50px;
	margin: 0 auto -10px;
	padding: 50px 60px 20px; 
}
  
article header h1, article header p {
    margin: 0 0 20px; 
}

article header h1 {
    margin-right: 120px !important;
    margin-bottom: 20px; 
}

article header ul {
    position: absolute;
    right: 0;
    bottom: 16px;
    text-align: right; 
    margin: 0 60px 20px 0;
}
    
article header ul li {
	margin: 0 0 6px; 
}
    
article header ul a {
	display: block;
	padding-right: 20px; 
}

article header ul,
article header p {
	text-transform: uppercase;
	color: #ccc; 
	list-style: none;
}

article header p {
    margin-top: -15px;
    padding: 0 0 0 17px;
    /*background: url(../../images/blog/meta-tags.png) no-repeat 0 50%; */
}

article header .meta-url a {
    /*background: url(../../images/blog/meta-date.png) no-repeat 100% 4px; */
}

article header .meta-notes a {
    /*background: url(../../images/blog/meta-notes.png) no-repeat 100% 4px; */
}

article header ul a,
article header p a {
    color: #ccc; 
}

article header ul a:hover,
article header p a:hover,
article header ul a:focus,
article header p a:focus {
    color: #999;
    text-decoration: none; 
}

article h1, article h1 a {
	color: #333;
	font-weight: normal; 
}

article h1 a:hover,
article h1 a:focus,
article h1 a:visited {
	color: #000; 
}

article header ul {
	font-size: 14px; 
}

article footer {
	font-size: 16px; 
}

article footer h2 {
	font-size: 16px; 
}

article,
.paging ul {
	clear: both;
	overflow: hidden;
	padding: 0 0 40px;
	margin: 0 auto 30px;
	background: #f5f5f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset;
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset;
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(255,255,255,0.9) inset; 
}

article {
	max-width: 1200px; 
}

article footer {
	background: #eee;
	border-top: 1px solid #ddd;
	padding: 20px 60px 40px;
	margin: 30px 0 -40px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px; 
}

article footer h2 {
	max-width: 800px;
	margin: 0 auto; 
}

article footer ol {
	max-width: 800px;
	margin: 10px auto 0;
	padding: 0; 
}

article footer ol li {
	border-bottom: 1px solid #ddd;
	padding: 10px 0 9px 24px;
	margin: 0;
	position: relative;
	list-style: none; 
}

article footer ol li:first-child {
	border-top: 1px solid #ddd;
	margin-top: -1px; 
}

article footer ol li img {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 0; 
}

article footer .clear, article footer .page-footer, article footer header {
	display: none; 
}

article footer blockquote {
	display: inline;
	font-style: italic;
	color: #999; 
}

article footer blockquote a:before {
	content: "“"; 
}

article footer blockquote a:after {
	content: "”"; 
}

article footer blockquote a {
	color: #999;
	text-decoration: underline;
	font-weight: normal; 
}

article footer blockquote a:hover,
article footer blockquote a:focus {
	color: #666; 
}

.blog-footer {
	font-weight: bold; 
}

.blog-footer ul {
	margin: 0 0 5px; 
}
  
.blog-footer .social-links,
.blog-footer .blog-links {
	font-size: 16px; 
}

.blog-header {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 30px; 
}

.blog-header p {
	text-align: justify; 
}

.blog-header {
	padding: 45px 30px 0;
	color: #666; 
}

.blog-header a:first-child,
.article-body p.intro a {
	color: #333;
	font-weight: normal;
	text-decoration: underline; 
}

.blog-header a:first-child:hover,
.blog-header a:first-child:focus,
.article-body p.intro a:hover,
.article-body p.intro a:focus {
	color: #000; 
}

.blog-header p {
	max-width: 720px;
	margin: 0 auto;
	padding: 50px 0 50px 85px;
	background: url(../../images/blog/icon.png) no-repeat 2px center;
	position: relative;
	left: -5px; 
}

.blog-header,
.blog-footer {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); 
}

.blog-footer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 40px 30px;
	padding-bottom: 45px;
	overflow: hidden;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none; 
}

.blog-footer ul a {
	display: block; 
}

.blog-footer ul {
	float: left;
	display: inline; 
}

.blog-footer ul li {
	float: left;
	display: inline;
	margin-right: 1em; 
}

.blog-footer .social-links,
.blog-footer p {
	float: right;
	display: inline; 
}

.blog-footer .ig-links,
.blog-footer p {
	text-transform: uppercase;
	color: #999; 
}

.blog-footer .ig-links a,
.blog-footer p a {
	color: #999; 
}

.blog-footer .ig-links a:hover,
.blog-footer p a:hover,
.blog-footer .ig-links a:hover,
.blog-footer p a:hover {
	color: #666; 
}

.blog-footer .social-links li {
	margin: 0 0 0 1em; 
}

.blog-footer .ig-links {
	clear: both; 
}